# Combining dataframes
## Concatenation

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
data_one = {'A': ['A0', 'A1', 'A2', 'A3'], 'B': ['B0', 'B1', 'B2', 'B3']}
data_two = {'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']}
one = pd.DataFrame(data_one)
two = pd.DataFrame(data_two)

In [3]:
one

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3

In [4]:
two

    C   D
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3

In [5]:
pd.concat([one, two], axis=1)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [6]:
pd.concat([one,two], axis=0)

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
3   A3   B3  NaN  NaN
0  NaN  NaN   C0   D0
1  NaN  NaN   C1   D1
2  NaN  NaN   C2   D2
3  NaN  NaN   C3   D3

In [7]:
two.columns = one.columns
two

    A   B
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3

In [8]:
pd.concat([one,two])

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
0  C0  D0
1  C1  D1
2  C2  D2
3  C3  D3

In [9]:
mydf = pd.concat([one,two])
mydf.index = range(len(mydf))
mydf

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  C0  D0
5  C1  D1
6  C2  D2
7  C3  D3

## Inner merge

In [10]:
registrations = pd.DataFrame({'reg_id':[1,2,3,4],'name':['Andrew','Bobo','Claire','David']})
logins = pd.DataFrame({'log_id':[1,2,3,4],'name':['Xavier','Andrew','Yolanda','Bobo']})

In [11]:
registrations

   reg_id    name
0       1  Andrew
1       2    Bobo
2       3  Claire
3       4   David

In [12]:
logins

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4     Bobo

In [14]:
pd.merge(registrations, logins, how='inner', on='name')

   reg_id    name  log_id
0       1  Andrew       2
1       2    Bobo       4

## Left and right merge

In [15]:
pd.merge(registrations, logins, how='left', on='name')

   reg_id    name  log_id
0       1  Andrew     2.0
1       2    Bobo     4.0
2       3  Claire     NaN
3       4   David     NaN

In [16]:
pd.merge(registrations, logins, how='right', on='name')

   reg_id     name  log_id
0     NaN   Xavier       1
1     1.0   Andrew       2
2     NaN  Yolanda       3
3     2.0     Bobo       4

## Outer merge

In [17]:
pd.merge(registrations, logins, how='outer', on='name')

   reg_id     name  log_id
0     1.0   Andrew     2.0
1     2.0     Bobo     4.0
2     3.0   Claire     NaN
3     4.0    David     NaN
4     NaN   Xavier     1.0
5     NaN  Yolanda     3.0

In [18]:
registrations = registrations.set_index('name')
registrations

        reg_id
name
Andrew       1
Bobo         2
Claire       3
David        4

In [19]:
pd.merge(registrations, logins, left_index=True, right_on='name', how='inner')

   reg_id  log_id    name
1       1       2  Andrew
3       2       4    Bobo

In [20]:
registrations = registrations.reset_index()
registrations

     name  reg_id
0  Andrew       1
1    Bobo       2
2  Claire       3
3   David       4

In [21]:
registrations.columns = ['reg_name', 'reg_id']

In [22]:
registrations

  reg_name  reg_id
0   Andrew       1
1     Bobo       2
2   Claire       3
3    David       4

In [25]:
results = pd.merge(registrations, logins, how='inner', left_on='reg_name', right_on='name')
results.drop('reg_name', axis=1)

   reg_id  log_id    name
0       1       2  Andrew
1       2       4    Bobo

In [26]:
registrations.columns = ['name', 'id']
logins.columns = ['id', 'name']

In [28]:
pd.merge(registrations, logins, how='inner', on='name', suffixes=('_reg', '_log'))

     name  id_reg  id_log
0  Andrew       1       2
1    Bobo       2       4