# Text and time methods
## Text methods for string data

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
email = 'attila@email.com'

In [3]:
email.split('@')

['attila', 'email.com']

In [4]:
names = pd.Series(['Attila', 'Bela', 'Ferenc', 'Csicsi', '5'])

In [5]:
names

0    Attila
1      Bela
2    Ferenc
3    Csicsi
4         5
dtype: object

In [6]:
names.str.upper()

0    ATTILA
1      BELA
2    FERENC
3    CSICSI
4         5
dtype: object

In [7]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [8]:
tech_finance = ['GOOG,APPL,AMZN', 'JPM,BAC,GS']
len(tech_finance)

2

In [9]:
tickers = pd.Series(tech_finance)

In [10]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [12]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [13]:
tickers.str.split(',', expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [14]:
messy_names = pd.Series(['andrew ', 'bo;bo', '   claire   '])

In [15]:
messy_names

0         andrew
1           bo;bo
2       claire
dtype: object

In [16]:
messy_names.str.replace(';', '')

0         andrew
1            bobo
2       claire
dtype: object

In [17]:
messy_names.str.replace(';', '').str.strip()

0    andrew
1      bobo
2    claire
dtype: object

In [18]:
messy_names.str.replace(';', '').str.strip().str.capitalize()

0    Andrew
1      Bobo
2    Claire
dtype: object

In [19]:
def cleanup(name):
    name = name.replace(';', '')
    name = name.strip()
    name = name.capitalize()
    return name

In [20]:
messy_names.apply(cleanup)

0    Andrew
1      Bobo
2    Claire
dtype: object

In [21]:
np.vectorize(cleanup)(messy_names)

array(['Andrew', 'Bobo', 'Claire'], dtype='<U6')

## Time methods for date and time data

In [22]:
from datetime import datetime

In [23]:
myyear = 1989
mymonth = 1
myday = 4
myhour = 2
mymin = 30
mysec = 17

In [24]:
mydate = datetime(myyear, mymonth, myday)
mydate

datetime.datetime(1989, 1, 4, 0, 0)

In [25]:
mydatetime = datetime(myyear, mymonth, myday, myhour, mymin, mysec)
mydatetime

datetime.datetime(1989, 1, 4, 2, 30, 17)

In [26]:
mydatetime.year

1989

In [27]:
myser = pd.Series(['Nov 3, 1990', '2000-01-01', None])
myser

0    Nov 3, 1990
1     2000-01-01
2           None
dtype: object

In [28]:
myser[0]

'Nov 3, 1990'

In [30]:
timeser = pd.to_datetime(myser)
timeser

0   1990-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [31]:
timeser[0].year

1990

In [32]:
euro_date = '31-12-2000'

In [33]:
pd.to_datetime(euro_date)

Timestamp('2000-12-31 00:00:00')

In [34]:
euro_date_two = '10-12-2000'
pd.to_datetime(euro_date_two)

Timestamp('2000-10-12 00:00:00')

In [35]:
pd.to_datetime(euro_date_two, dayfirst=True)

Timestamp('2000-12-10 00:00:00')

In [36]:
style_date = '12--Dec--2000'

In [37]:
pd.to_datetime(style_date, format='%d--%b--%Y')

Timestamp('2000-12-12 00:00:00')

In [38]:
custom_date = '12th of Dec 2000'

In [39]:
pd.to_datetime(custom_date)

Timestamp('2000-12-12 00:00:00')

In [40]:
sales = pd.read_csv('DATA/RetailSales_BeerWineLiquor.csv')
sales.head()

         DATE  MRTSSM4453USN
0  1992-01-01           1509
1  1992-02-01           1541
2  1992-03-01           1597
3  1992-04-01           1675
4  1992-05-01           1822

In [41]:
sales['DATE'] = pd.to_datetime((sales['DATE']))
sales.head()

        DATE  MRTSSM4453USN
0 1992-01-01           1509
1 1992-02-01           1541
2 1992-03-01           1597
3 1992-04-01           1675
4 1992-05-01           1822

In [42]:
sales['DATE'][0].year

1992

In [43]:
sales = pd.read_csv('DATA/RetailSales_BeerWineLiquor.csv', parse_dates=[0])
sales.head()

        DATE  MRTSSM4453USN
0 1992-01-01           1509
1 1992-02-01           1541
2 1992-03-01           1597
3 1992-04-01           1675
4 1992-05-01           1822

In [44]:
sales['DATE']

0     1992-01-01
1     1992-02-01
2     1992-03-01
3     1992-04-01
4     1992-05-01
         ...
335   2019-12-01
336   2020-01-01
337   2020-02-01
338   2020-03-01
339   2020-04-01
Name: DATE, Length: 340, dtype: datetime64[ns]

In [45]:
sales = sales.set_index('DATE')

In [46]:
sales.resample(rule='A').mean()

            MRTSSM4453USN
DATE
1992-12-31    1807.250000
1993-12-31    1794.833333
1994-12-31    1841.750000
1995-12-31    1833.916667
1996-12-31    1929.750000
1997-12-31    2006.750000
1998-12-31    2115.166667
1999-12-31    2206.333333
2000-12-31    2375.583333
2001-12-31    2468.416667
2002-12-31    2491.166667
2003-12-31    2539.083333
2004-12-31    2682.416667
2005-12-31    2797.250000
2006-12-31    3001.333333
2007-12-31    3177.333333
2008-12-31    3292.000000
2009-12-31    3353.750000
2010-12-31    3450.083333
2011-12-31    3532.666667
2012-12-31    3697.083333
2013-12-31    3839.666667
2014-12-31    4023.833333
2015-12-31    4212.500000
2016-12-31    4434.416667
2017-12-31    4602.666667
2018-12-31    4830.666667
2019-12-31    4972.750000
2020-12-31    4922.500000

In [47]:
sales = pd.read_csv('DATA/RetailSales_BeerWineLiquor.csv', parse_dates=[0])
sales.head()

        DATE  MRTSSM4453USN
0 1992-01-01           1509
1 1992-02-01           1541
2 1992-03-01           1597
3 1992-04-01           1675
4 1992-05-01           1822

In [48]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   DATE           340 non-null    datetime64[ns]
 1   MRTSSM4453USN  340 non-null    int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 5.4 KB

In [49]:
sales['DATE'].dt.year

0      1992
1      1992
2      1992
3      1992
4      1992
       ...
335    2019
336    2020
337    2020
338    2020
339    2020
Name: DATE, Length: 340, dtype: int64